@font-face {
    font-family: "DeathStar";
    src: url("./WebFont/DeathStar.woff") format("woff"), url("./WebFont/DeathStar.woff2") format("woff2"),
        url("./WebFont/DeathStar.otf") format("otf");
}
@font-face {
    font-family: "CasanovaScotia";
    src: url("./WebFont/CasanovaScotia.ttf") format("tff"), url("./WebFont/CasanovaScotia.woff") format("woff"),
        url("./WebFont/CasanovaScotia.woff2") format("woff2");
}
* {
    box-sizing: border-box;
}

:root {
    --theme1: black;
    --theme2: #ffc40a;
    --box-sz: 3rem;
    --br-rad: 10px;

    /*ship colors*/
    --c1: #40b3a2;
    --c2: #c38d9d;
    --c3: #5cdb94;
    --c4: #fc4444;
    --c5: #557a95;
}
body {
    background-color: var(--theme1);
}
.head-title {
    background-color: black;
    color: white;
    font-size: 3.2rem;
    text-align: center;
    font-family: "DeathStar", Arial, Helvetica, sans-serif;
    border-bottom: 5px var(--theme2) solid;
    margin-bottom: 50px;
}
.intro-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.intro-placement-grid-cont {
    padding-right: 50px;
    border-right: 2px var(--theme2) solid;
}
#gamegrid {
    width: calc(var(--box-sz) * 10);
    height: calc(var(--box-sz) * 10);
    background: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(255, 196, 10, 1) 100%);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
}
.gamegrid-cell {
    width: var(--box-sz);
    height: var(--box-sz);
    border: rgb(0, 0, 0) 0.5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "CasanovaScotia", Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
}

.intro-instructions-cont {
    margin-left: 50px;
    width: calc(var(--box-sz) * 6.5);
    min-height: calc(var(--box-sz) * 10);
    background: linear-gradient(225deg, rgba(255, 255, 255, 1) 0%, rgba(255, 196, 10, 1) 100%);
    border-radius: var(--br-rad);
}
.instructions-text {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: "CasanovaScotia", Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.instructions-subtext {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: "CasanovaScotia", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-decoration: underline;
}
.gamegrid-cell.c1 {
    background: var(--c1);
}
.gamegrid-cell.c2 {
    background: var(--c2);
}
.gamegrid-cell.c3 {
    background: var(--c3);
}
.gamegrid-cell.c4 {
    background: var(--c4);
}
.gamegrid-cell.c5 {
    background: var(--c5);
}
.DragDrop-main-cont {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.dragDrop-ship {
    width: min-content;
    margin: 5px;
    display: flex;
}
.dragDrop-ship.vertical {
    flex-direction: column;
}
.gamegrid-text.invis {
    display: none;
}
.potential-drop {
    background: #8dd4f9;
}
.void {
    display: none;
}
.ownership-title-cont {
    display: inline;
    background: var(--theme2);
    padding: 0px 4px;
}
.ownership-title {
    display: inline;
    font-family: "CasanovaScotia", Arial, Helvetica, sans-serif;
}
